POST_SERVICE_URL = localhost:50051
AUTH_SERVICE_URL = localhost:50052
LIKE_SERVICE_URL = localhost:50053
FOLLOW_SERVICE_URL = localhost:50054
FEED_SERVICE_URL = localhost:50055
NOTIFICATION_SERVICE_URL = localhost:8083
CHAT_SERVICE_URL = localhost:8084
REDIS_URL = localhost:6379
SERVER_PORT = 8082

